{% extends 'HealthCare/homebase.html' %} {% load static %} {% block content %}
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 10px; /* Add some spacing between image and button */
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  a:link {
    text-decoration: none;
  }

  a {
    color: white;
  }
  .footer {
    margin-top: 0px;
  }
  .header {
    sition: relative;
    width: 1000px;
    height: 1000px;
  }
  .overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
  }
</style>

{% comment %}
<div class="jumbotron" style="margin-bottom: 0px">
  <h1 class="display-4" style="text-align: center"><b>Welcome! Doctor</b></h1>
  <p class="lead">Welcome to HealthCare Facility Management</p>
  <hr class="my-4" />
</div>
<div class="grid-item">
  <div class="card">
    <img src="{% static "images/bg01.jpg" %}" alt="John" style="width:100%">
    <p class="title">DOCTOR</p>
  </div>
</div>
{% endcomment %}
<div class="header">
  <img class="doctorimg" src="{% static "images/bg01.jpg" %}" alt="John" />
  <div class="overlay">
    <p><b>DOCTOR SIGN UP/LOGIN</b></p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button"
        >Sign Up</a
      >
      <a class="btn btn-success btn-lg" href="/doctorlogin" role="button"
        >Login</a
      >
    </p>
  </div>
</div>

{% endblock content %}
